/target
/cloud-tests/runner/target/
/cloud-tests/.secrets/
/third_party/dpdk/src/
/third_party/dpdk/build/
/third_party/dpdk/install/
.terraform
*.tfstate
*.tfstate.backup
/artifacts/image-build/
/.packer.d/
/packer_cache/
