---
interface Props {
  currentPath: string;
}

import DocsSidebarNav from './DocsSidebarNav.astro';

const { currentPath } = Astro.props;
---

<aside class="hidden lg:block lg:w-72 lg:flex-shrink-0">
  <nav class="sticky top-20 max-h-[calc(100vh-5rem)] overflow-y-auto pb-8 pr-2">
    <DocsSidebarNav currentPath={currentPath} />
  </nav>
</aside>
