#cloud-config
package_update: true
package_upgrade: false
packages:
  - curl
  - dnsutils
  - ethtool
  - iperf3
  - socat
  - wrk
  - jq
  - tcpdump
write_files:
  - path: /etc/apt/apt.conf.d/99force-ipv4
    permissions: "0644"
    content: |
      Acquire::ForceIPv4 "true";

runcmd:
  - ethtool -K eth0 rx off tx off gro off gso off tso off lro off || true
