terraform {
  required_providers {
    neuwerk = {
      source  = "moolen/neuwerk"
      version = "{{PROVIDER_VERSION}}"
    }
  }
}

provider "neuwerk" {
  endpoints       = ["{{ENDPOINT}}"]
  token           = "{{TOKEN}}"
  ca_cert_file    = "{{CA_CERT_FILE}}"
  request_timeout = "30s"
  retry_timeout   = "5s"
}

resource "neuwerk_tls_intercept_ca" "main" {
  generate = true
}
