terraform {
  required_providers {
    neuwerk = {
      source  = "moolen/neuwerk"
      version = "{{PROVIDER_VERSION}}"
    }
  }
}

provider "neuwerk" {
  endpoints       = ["{{ENDPOINT}}"]
  token           = "{{TOKEN}}"
  ca_cert_file    = "{{CA_CERT_FILE}}"
  request_timeout = "30s"
  retry_timeout   = "5s"
}

resource "neuwerk_kubernetes_integration" "prod" {
  name                  = "prod-k8s"
  api_server_url        = "https://10.0.0.10:6443"
  ca_cert_pem           = <<-PEM
-----BEGIN CERTIFICATE-----
MIIB
-----END CERTIFICATE-----
PEM
  service_account_token = "{{K8S_SERVICE_ACCOUNT_TOKEN}}"
}

resource "neuwerk_policy" "main" {
  name           = "terraform-k8s-sugar"
  mode           = "audit"
  default_action = "deny"

  source_group = [
    {
      id             = "pods"
      priority       = 10
      default_action = "deny"

      sources = {
        kubernetes_selector = [
          {
            integration = neuwerk_kubernetes_integration.prod.name
            pod_selector = {
              namespace = "apps"
              match_labels = {
                app  = "api"
                tier = "backend"
              }
            }
          },
          {
            integration = neuwerk_kubernetes_integration.prod.name
            node_selector = {
              match_labels = {
                nodepool = "blue"
              }
            }
          }
        ]
      }

      rule = [
        {
          id       = "allow-https"
          priority = 10
          action   = "allow"
          mode     = "audit"
          destination = {
            protocol = "tcp"
            ports    = [443]
            ips      = ["203.0.113.10"]
          }
        }
      ]
    }
  ]
}
